<article>
  <p>products works!</p>
</article>

<article>
  <ngx-spinner type="ball-scale-multiple">
    <!-- <p class="text-2xl text-purple-400 m-0 text-center ml-4">Loading......</p> -->
  </ngx-spinner>
</article>

<div class="product__grid">
  <div class="products">
    <p-card header="Advanced Card" subheader="Card Subheader">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" />
      </ng-template>
      <p class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
    <p-card header="Advanced Card" subheader="Card Subheader">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" />
      </ng-template>
      <p class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
    <p-card header="Advanced Card" subheader="Card Subheader">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg" />
      </ng-template>
      <p class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
    <p-card header="Advanced Card" subheader="Card Subheader">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      <p class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
    <p-card header="Advanced Card" subheader="Card Subheader">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" />
      </ng-template>
      <p class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
