<div class="start-counter flex flex-column gap-4">
  <article class="mb-4">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident quaerat, autem qui pariatur corrupti illo
      error. Repellat consequuntur voluptate corporis impedit mollitia, blanditiis, et esse neque voluptas provident
      dignissimos veritatis?
    </p>
  </article>
  <ul class="m-0 p-0 flex  gap-2 font-bold">
    <li><a routerLink="create">create product</a></li>
    <li><a routerLink="product-list">products list</a></li>
    <li><a routerLink="vender">venders</a></li>
  </ul>
  <div class="mt-2">
    <router-outlet />
  </div>
</div>