<div class="start-counter flex flex-column gap-4">
  <article class="mb-4">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident quaerat, autem qui pariatur corrupti illo
      error. Repellat consequuntur voluptate corporis impedit mollitia, blanditiis, et esse neque voluptas provident
      dignissimos veritatis?
    </p>
  </article>
  <article id="shipping">
    <div class="text-900 font-medium text-3xl mb-4 mt-2">Shipping Placeholder</div>
    <div class="line-height-3 text-700 p-0 mx-0 mt-0 mb-4">
      Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Justo donec enim diam vulputate ut pharetra.
      Tempus egestas sed sed risus. Feugiat sed lectus vestibulum mattis. Tristique nulla aliquet enim tortor at auctor
      urna nunc. Habitant morbi tristique senectus et. Facilisi nullam vehicula ipsum.
    </div>
    <div class="grid">
      <div class="col-12 md:col-6">
        <span class="text-900 block font-medium mb-3">Shipping Costs</span>
        <ul class="p-0  m-0 text-700 mb-3">
          <li class="mb-2">Japan - JPY 2,500.</li>
          <li class="mb-2">Europe – EUR 10</li>
          <li class="mb-2">Switzerland – CHF 10</li>
          <li class="mb-2">Canada – CAD 25</li>
          <li class="mb-2">USA - USD 20</li>
          <li class="mb-2">Austrila - AUD 30</li>
          <li class="mb-2">United Kingdom – GBP 10</li>
        </ul>
      </div>
      <div class="col-12 md:col-6">
        <span class="text-900 block font-medium mb-3">
          Return Policy
        </span>
        <div class="line-height-3 text-700 p-0 m-0">
          Pharetra et ultrices neque ornare aenean euismod elementum nisi. Diam phasellus vestibulum lorem sed. Mattis
          molestie a iaculis at.
        </div>
      </div>
    </div>
  </article>
  <ul class="m-0 p-0 flex  gap-2 font-bold">
    <li><a routerLink="create">create product</a></li>
    <li><a routerLink="product-list">products list</a></li>
    <li><a routerLink="vender">venders</a></li>
  </ul>
  <div class="mt-2">
    <router-outlet />
  </div>
</div>